{% load tags %}
{% load compress %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Progpac!</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"> -->
    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Chango"> -->

    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}bootstrap/less/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}main.less">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}less.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}limejs/closure/closure/goog/base.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}game/game.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery.form.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}main.js" type="text/javascript"></script>
    
    <script type="text/javascript">
      var LEVEL = {{ level_json|safe|default:"null" }};
      var CODE = "{{ code|default:"" }}";

      var STATIC_URL = "{{ STATIC_URL }}";
    </script>
    {% include 'google_analytics.html' %}
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="/">ProgPac</a>

	  <ul class="nav">

	    <li class="{% active "level" %} dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Tutorial 
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		{% for level in tutorial_levels %}
                <li>
                  <a href="{{ level.get_absolute_url }}">
                    {{ level.name|capfirst }}
                  </a>
                </li>
                {% endfor %}
	      </ul>
	    </li>

	    <li class="{% active "level" %} dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Game 
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		{% for level in game_levels %}
                <li>
                  <a href="{{ level.get_absolute_url }}">
                    {{ level.name|capfirst }}
                  </a>
                </li>
                {% endfor %}
	      </ul>
	    </li>

	    <li class="{% active "help" %}">
	      <a href="{% url help %}">Help</a>
	    </li>

	    <li class="{% active "results" %}">
	      <a href="{% url results %}">Results</a>
	    </li>

	  </ul>
	</div>
      </div>
    </div>

    {% block content %}{% endblock %}
    
  </body>
</html>
