{% extends "base.html" %}

{% block content %}

<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Great Success!</h3>
  </div>
  <div class="modal-body">
    <p>
      We argoing to put your name one the results page.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Stay here</a>
    <a href="#" class="next-level btn btn-primary">Next Level</a>
  </div>
</div>

<div id="level" class="container content">

  <div class="row">
    <div class="span8">
      <div id="map" style="border: 2px solid; padding-left: 4px"></div>
    </div>
    
    <div class="span4 editor">
      
      <div class="alert hide alert-error">
	<h4>Oh snap!</h4>
	<span class="message"></span>
      </div>

      <form class="well" method="post">
	{% csrf_token %}
	{{ form.text }}

	<div class="form-actions">
	  <span class="code-counter">
            <span class="code-size">
	    </span> /<span class="code-maxsize">
	      {{ level.maxsize }}
	    </span>
	  </span>

	  <input name="submit" type="submit" class="btn" value="Debug">
	  <input name="submit" type="submit" class="btn btn-primary" value="Move it!">
	</div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
